In [1]:
import pandas as pd
import numpy as np

In [2]:

import numpy as np
data0 = [2,4,6.5,8]
arr0 = np.array(data0)

In [3]:
# pandas中的Series数据类型(参数)
s = pd.Series(data=[100, 'a', { 'dic1': 5 }],
              index=pd.Index(['id1', 20, 'third'], name='my_idx'),
              dtype='object',
              name='my_name')

In [4]:
s = pd.Series(["1","2","3","4"])

In [5]:
#.后方一串为属性
s.index.values

array([0, 1, 2, 3], dtype=int64)

In [6]:
type(s.values[0])

str

In [7]:
#系列指size值大小
s.size

4

In [8]:
s.shape

(4,)

In [9]:
# 任务3: 创建Dataframe类型的数据,并获取其索引，值及表大小(带"one"为字符串)
d = {
    "one": pd.Series([1.0, 2.0, 3.0], index=["a", "b", "c"]),
    "two": pd.Series([1.0, 2.0, 3.0, 4.0], index=["a", "b", "c", "d"]),
}
df = pd.DataFrame(d)

In [10]:
#"作者"是key,后面一串是value函数返回值
d1 = {
    "作者":pd.Series(['余华','残雪','莫言']),
    "作品":pd.Series(['活着','暗夜','红高粱']),
    "价格":pd.Series([35,72,38])
}
df2 = pd.DataFrame(d1)

In [11]:
#索引
df2['作品']

0     活着
1     暗夜
2    红高粱
Name: 作品, dtype: object

In [12]:
df2[['作者','价格']]

   作者  价格
0  余华  35
1  残雪  72
2  莫言  38

In [13]:
df2.values

array([['余华', '活着', 35],
       ['残雪', '暗夜', 72],
       ['莫言', '红高粱', 38]], dtype=object)

In [14]:
贵州茅台原始数据 = pd.read_csv(R'data\600519.csv')

In [15]:
#按照列索引
贵州茅台原始数据['TURNOVER']

0        1410347008
1         463463008
2         194689000
3         177558000
4          86231000
           ...
4089     2694714080
4090    10663392512
4091     5239853056
4092     5581027328
4093     5227695104
Name: TURNOVER, Length: 4094, dtype: int64

In [16]:
贵州茅台原始数据[['TURNOVER','volume']]

         TURNOVER  volume
0      1410347008  406318
1       463463008  129647
2       194689000   53252
3       177558000   48013
4        86231000   23231
...           ...     ...
4089   2694714080   49076
4090  10663392512  204397
4091   5239853056   96885
4092   5581027328   98107
4093   5227695104   89157

[4094 rows x 2 columns]

In [24]:
#按照行索引
贵州茅台原始数据.loc[0]

day           2001-08-27
STOCK_CODE       6005191
open               34.51
close              35.55
maximum            37.78
minimum            32.85
volume            406318
TURNOVER      1410347008
Name: 0, dtype: object

In [23]:
贵州茅台 = 贵州茅台原始数据.set_index('day')

In [25]:
贵州茅台.loc['2001-08-27',['open','close']]

open     34.51
close    35.55
Name: 2001-08-27, dtype: float64

In [27]:
贵州茅台.loc['2001-10-08',['open','close']]

open     37.00
close    36.58
Name: 2001-10-08, dtype: float64