In [13]:
import mytools
import pandas as pd

In [14]:
数据表 = mytools.读取spss数据文件(R'data\identity.sav')

In [15]:
import pandas as pd
from tabulate import tabulate
# 创建一个示例 DataFrame
data = {
    'Column1': [1, None, 3, None],
    'Column2': [4, None, None, None],
    'Column3': [7, 8, 9, None],
    'Column4': [7, 8, 9, None]
}
df = pd.DataFrame(data)
print("原始 DataFrame:")
print(tabulate(df))
# 列出所有空白值
print("列出所有空白值：")
print(tabulate(df[df.isnull().T.any()]))

原始 DataFrame:
-  ---  ---  ---  ---
0    1    4    7    7
1  nan  nan    8    8
2    3  nan    9    9
3  nan  nan  nan  nan
-  ---  ---  ---  ---
列出所有空白值：
-  ---  ---  ---  ---
1  nan  nan    8    8
2    3  nan    9    9
3  nan  nan  nan  nan
-  ---  ---  ---  ---

In [16]:
df[df.isnull().T.any()]

   Column1  Column2  Column3  Column4
1      NaN      NaN      8.0      8.0
2      3.0      NaN      9.0      9.0
3      NaN      NaN      NaN      NaN

In [17]:
# 删除所有列都是空值的行
df.dropna(how='all', inplace=True)
df
# 打印处理后的 DataFrame
print("\n处理后的 DataFrame:")
print(df)

处理后的 DataFrame:
   Column1  Column2  Column3  Column4
0      1.0      4.0      7.0      7.0
1      NaN      NaN      8.0      8.0
2      3.0      NaN      9.0      9.0

In [18]:
#查找空白值
数据表.dropna(how='any', inplace=True)
df

AttributeError: 'tuple' object has no attribute 'dropna'

In [ ]:
#删除空白值
数据表.dropna(thresh=4,inplace=True)

In [20]:
#填充空白值
数据表['政治面貌'].fillna('群众',inplace=True)

TypeError: tuple indices must be integers or slices, not str

import pandas as pd

# 示例数据
data = {'value': [10, 12, 12, 13, 12, 11, 10, 29, 30, 11, 10, 100]}
df = pd.DataFrame(data)

# 计算均值和标准差
mean = df['value'].mean()
std = df['value'].std()
condition1 = (df['value'] < mean - 3 * std) | (df['value'] > mean + 3 * std)
# 识别异常值
outliers1 = df[condition1]
print('使用标准差判断的异常值为：',outliers1)

# 计算 IQR
Q1 = df['value'].quantile(0.25)
Q3 = df['value'].quantile(0.75)
IQR = Q3 - Q1

# 识别异常值
outliers2 = df[(df['value'] < Q1 - 1.5 * IQR) | (df['value'] > Q3 + 1.5 * IQR)]
print('使用IQR判断的异常值为：',outliers2)