In [1]:
import mytools
import pandas
import pandas as pd
列名列表 = ['父亲工作', '父亲职业重新编码', '母亲工作','母亲职业重新编码']
df1 = pd.read_csv(R'D:\编程作业\类别变量练习数据.csv',usecols=列名列表)

In [2]:
df1.to_csv('D:\编程作业\类别变量练习数据.csv',index = False)

In [3]:
tau_y = mytools.goodmanKruska_tau_y(df1,'父亲职业重新编码','母亲职业重新编码')
tau_y

0.18704654197477177

In [4]:
mytools.相关系数强弱判断(tau_y)

'极弱相关或无相关'

In [5]:
mytools.制作交叉表(df1,'父亲职业重新编码','母亲职业重新编码')

母亲职业重新编码        个体  事业单位       公务员   国企      家庭主妇        民企       All
父亲职业重新编码
个体        0.444444   0.0  0.076923  0.0  0.272727  0.166667  0.176471
事业单位      0.000000   0.2  0.000000  0.0  0.000000  0.000000  0.039216
公务员       0.222222   0.6  0.769231  0.5  0.000000  0.500000  0.431373
国企        0.222222   0.0  0.000000  0.0  0.181818  0.166667  0.098039
家庭主妇      0.000000   0.0  0.076923  0.0  0.181818  0.000000  0.058824
民企        0.111111   0.2  0.076923  0.5  0.363636  0.166667  0.196078